<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amplify JS bundles CDN</title>
</head>
<style>
    .second {
        margin-left: 10px;
    }

    .third {
        margin-left: 20px;
    }
</style>

<script>
function copyTagToClipboard(name, filename, checksum) {
    let textToCopy = `<script src=\"${filename}\" integrity=\"${checksum}\" crossorigin=\"anonymous\" referrerpolicy=\"no-referrer\"><\/script>`;
    
    if (filename.endsWith(".css")) {
        textToCopy = `<link href="${filename}" rel="stylesheet" integrity="${checksum}" crossorigin="anonymous" referrerpolicy="no-referrer"></link>`
    }

    navigator.clipboard.writeText(textToCopy).then(function () {
        alert(`${name} copied to clipboard`)
    });
}
</script>

<body>
    <div>
        <h2>AWS Amplify JS bundles</h2>
        <div id="bundle-list">
            <ul>
                {{#each this}}
                <li>
                    {{this.name}}
                    <ul>
                    {{#each this.versions}}
                        <li>{{@key}}
                            <ul>
                            {{#each this}}
                                <li>
                                    <a href="{{this.filename}}" download="{{this.name}}">{{this.name}}</a>
                                    <button aria-label="Copy Tag" title="" onclick="copyTagToClipboard('{{this.name}}', '{{this.filename}}', '{{this.checksum}}')" >Copy to clipboard<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" aria-hidden="true" style="height: 1em;"><path d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"></path></svg></button>
                                </li>
                            {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                    </ul>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>

</html>
